<meta charset="UTF-8">
<meta name="Description" CONTENT="Volume is a curatorial partnership between Caroline Stevenson and Patricia Fleming, both
independent curators providing opportunities for artists, designers, musicians and writers
to research and develop their practice in London and Glasgow. We support both emerging
and established practitioners, working across art forms and sectors. Volume prioritises the
working process, dialogue and critical debate as an ongoing cycle.">
<title>Volume Projects</title>

<link href="/app/stylesheets/style.css" rel="stylesheet" type="text/css" />