<div class="header">
    <img src="http://cloud5.blob.core.windows.net/content/logo-main.png" alt="volume" />
    <img src="http://cloud5.blob.core.windows.net/content/logo-triangle.png" alt="volume" />
    <div class="nav-menu">
        <ul>
            <li><a href="/">volume</a></li>
            <li>&nbsp;</li>
            <li><a href="/information">information</a></li>
            <li><a href="/forthcoming">forthcoming</a></li>
        </ul>
    </div>
</div>