<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <meta charset="utf-8">
    <meta name="Description" CONTENT="Volume is a curatorial partnership between Caroline Stevenson and Patricia Fleming, both
independent curators providing opportunities for artists, designers, musicians and writers
to research and develop their practice in London and Glasgow. We support both emerging
and established practitioners, working across art forms and sectors. Volume prioritises the
working process, dialogue and critical debate as an ongoing cycle.">
    <link href="content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="GlobalPage">
    <div id="contentWrapper">
        <div id="PageHeaderParent">
            <div id="PageHeader">
                <img src="http://cloud5.blob.core.windows.net/content/logo-main.png" alt="volume" />
                <img src="http://cloud5.blob.core.windows.net/content/logo-triangle.png" alt="volume" />
            </div>
            <div id="NavigationMenu">
                <a href="/">volume</a><br /><br />
                <a href="../Information">information</a><br />
                <a href="../Forthcoming">forthcoming</a><br />
                <a href="../Contact">contact</a><br>
            </div>
        </div>
        <div id="contentBody">



            <div class="Static">


                For more information contact Caroline at <a href="mailto:caroline@volumeprojects.com">caroline@volumeprojects.com</a>

            </div>


        </div>
    </div>
</body>
</html>