<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>
<body>

<header>
    <% include partials/header %>
</header>

<div class="container">
    <div class="static-content">
        <div>
            <pre>
Studio residency with James Thomas and Daniel Halhead
August – September 2011

Contact caroline@volumeprojects.com for more information



Volume is proud to present James Thomas, Solina Hi-Fi and Patrick Jameson at Vault, Glasgow’s Contemporary Art Fair.

September 8-11 2011 at Wasps Artists’ Studios
The Briggait
141 Bridgegate
Glasgow
G1 5HZ
            </pre>
        </div>
    </div>
</div>
</body>
</html>