<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body>

<header>
    <% include partials/header %>
</header>

<div class="container">
  <div class="content">
    <div class="col1">
      <!-- Body Content -->
        April 21 - May 6 2012
      <h1>GRAPHODER<br>
        James Thomas<br>
        + Solina Hi-Fi<br>
      </h1>
      <b>Volume is delighted to present GRAPHODER, a new project by Solina Hi-Fi and James Thomas, commissioned by Volume for Glasgow International Festival of Visual Art, 2012</b><br><br><b>Queens Park Railway Club</b><br><b>Queens Park Train Station </b><br><b>492 Victoria Road</b><br><b>Glasgow G42 8PQ</b><br><br><b>April 22 - May 6 2012 2:30 - 6:30 daily, except Mondays</b><br><b>Exhibition opens April 21 2012 6:30pm - 8:30pm. Followed by performances at Queens Park Cafe from 8:30pm until late</b><br><br>Volume is pleased to present&nbsp;<b>Graphoder</b>, a new sonic installation and series of drawings by London based artists Solina Hi-Fi and James Thomas at Queens Park Railway Club, commissioned by Volume for Glasgow International Festival of Visual Art 2012.<br><br><span><b>Graphoder&nbsp;</b></span>is the second project produced through an on-going collaboration of the artists, exploring the visual and material presence of sound. Occupying the Queens Park Railway Club for the duration of the festival, the artists will make use of this unique space by transforming it into a listening booth and experimental workshop.<br><br><span><b>Graphoder&nbsp;</b></span>refers to the interpretation and re-interpretation of sound produced by Solina Hi-Fi’s hand built sonic analysis unit. Utilising similar technology to a vocoder, the unit is programmed to interpret a system of notation that is formed of precisely rendered drawings by James Thomas. The drawings refer to the technical and experimental structuring of the unit’s components, connecting the visual and acoustic experience of the installation and making visible the processes that have informed the objects in the space. Completing the system is a mechanical output device that draws the re-interpreted sound onto paper, thus creating a new score.<br><br>This project is generously supported by the Arts Council England.

    </div>
    <div class="col2">
      <!-- Image(s), remember to provide an alt -->
      <img src="http://cloud5.blob.core.windows.net/content/graphoder.png" alt="LBT" />

    </div>
  </div>
</div>






      <div class="contentBodyTextParent">
        <div class="contentBodyText">
          January 14 2012
          <h1>Volume presents<br>
            Criodhna Costello<br>
            Solina Hi-Fi<br>
            Patrick Jameson<br>
            + AE Hutch<br>
          </h1>

          CUL DE SAC London <br>
          65-69 County Street <br>
          London <br>
          SE1 4AD <br>
          <a href="http://www.culdesacgallery.com">www.culdesacgallery.com</a><br><br>

          <b>You are warmly invited to join us for an evening of film, sound and performance at Cul De Sac, January 14 2012 featuring Criodhna Costello, Solina Hi-Fi, Patrick Jameson and AE Hutch.. Please arrive by 7pm for 7:30 screening.</b><br><br>
          Volume presents a one-off screening of Criodhna Costello’s film Polaris, accompanied by a live soundtrack composed and performed by Solina Hi-Fi, using a specially designed soundsystem. Followed by a new film by Glasgow based artist Patrick Jameson and new music from AE Hutch (Alex Hutchins of The Cyclones: <a href="http://www.myspace.com/ourcyclones">www.myspace.com/ourcyclones</a>).<br><br>

          Image courtesy of Kevin Jude Walters
        </div>
      </div>
      <div class="ImageContainer">

        <img src="http://cloud5.blob.core.windows.net/content/Polaris.jpg" alt="vault" />

      </div>
      <div class="contentBodyTextParent">
        <div class="contentBodyText">
          September 9 - 11 2011
          <h1>Volume at<br>
            Vault Art Glasgow<br>
          </h1>

          James Thomas<br>
          Patrick Jameson<br>
          Solina Hi-Fi<br><br>

          VAULT ART GLASGOW<br>
          9 - 11 SEPT 2011, THE BRIGGAIT, GLASGOW<br />
          The Briggait<br>
          141 Bridgegate, Glasgow G1 5HZ<br /><br />


          Fri 9, 11 am - 9 pm<br />
          Sat 10, 11am - 9 pm<br />
          Sun 11, noon - 5 pm<br /><br />

          Entrance:<br />
          £ 4.00 / Children under 12 free<br /><br />

          This is an opportunity to see and buy work from one of the most exciting visual arts communities
          in the UK including The Briggait, David Dale Gallery & Studios, Glasgow Print Studio, Glasgow
          Independent Studio, IRONBBRATZ, Lapland, Market Gallery, The Mutual, Street Level Photoworks,
          SWG3, and Volume. Jenny Brownrigg, Exhibitions Director, The Glasgow School of Art will curate
          Vault’s first New Views section, presenting a selection of this year’s graduates.<br /><br />

          Artists projects include the event design created by Glasgow based visual artist Iain Kettles
          and new commissions created by Market Gallery, The Mutual, IRONBBRATZ and Lapland.<br /><br />

          Tours and talks at the event are free on entry. In addition, we are pleased to announce Glasgow
          International Festival of Visual Art, Own Art and Culture Label will have information stands.<br /><br />

          You will be able to buy works online from the innovative Culture Label over the weekend of
          Vault and for the three months leading up to Christmas.<br /><br />

          Supported by Creative Scotland through Own Art. Own Art encourages adventurous buying.
          With support from Glasgow Life.
        </div>
      </div>
      <div class="ImageContainer">
        <img src="http://cloud5.blob.core.windows.net/content/vault.jpg" alt="vault" />
      </div>
      <div class="contentBodyTextParent">
        <div class="contentBodyText">
          March 25 - April 10 2011<br>
          <b>Volume</b> in association with <b>Black Rainbow Records</b> warmly invite you to<br /><br />
          <h1>HUM<br>
            James Thomas<br>
            + Solina Hi-Fi<br><br>
          </h1>




          <b>Date :</b> March 25 2011 - April 10 2011<br />
          Preview and record launch: March 25 2011 from 6pm<br />
          Open Fridays and Saturdays 12pm - 4pm and by appointment<br /><br />
          <b>Venue :</b> Cartel / The Old Police Station<br />
          114 - 116 Amersham Vale<br />
          London, SE14 6LG<br />
          Tube: New Cross (East London Overground)<br />
          Buses: 188, 47, 59<br /><br />

          <b>Hum</b> is a spatial and sonic inquiry into the complex acoustic ecology of the Bow Flyover in East London. The result of an ongoing
          collaboration, the exhibition is formed of a series of new drawings by James Thomas
          and a sonic environment created by Solina Hi-Fi.<br /><br />

          <b>Hum</b> investigates the cartographic possibilities of drawing and sound to reveal the dense layering of actions, reactions,
          movements and counter-movements of the city infrastructure. Through a process of
          translation and exchange, the art works each attempt to construct a spatial awareness
          of the area around the overpass, extending beyond certain material boundaries to
          reveal meeting points and tensions where trajectories emanate. Using intuitive as
          well as scientific and mathematical means, the artists dissect and replay this dynamic
          convergence within the gallery space.<br /><br />

          This particular collaboration between the artists is conceived of as a process of inquiry, or as Robert Irwin describes as
          a dialogue of immanence where ‘certain questions become demanding and potentially
          unanswerable at a certain point in time’, but that each of them have involved themselves
          in the same set of questions at the same time albeit through individual approaches
          to method and thought.<br /><br />

          A limited edition record of Solina Hi-Fi’s soundtrack featuring
          artwork by James Thomas will be on sale for the duration of the exhibition.<br /><br />

          <b>Further info/images and to book an appointment</b>: <a href="mailto:caroline@volumeprojects.com">caroline@volumeprojects.com</a><br /><br />

          <a href="http://www.jthomas.info/">http://www.jthomas.info/</a><br />
          <a href="http://www.myspace.com/solinasound">http://www.myspace.com/solinasound</a><br />

          ------------<br /><br />

          1. The <b>Solina Hi-Fi</b> project developed through involvement with the London based
          arts collective CutUp. Playing pure tones, drones and rhythms with hand built analogue
          synths, live instruments and other boxes with knobs on, Solina Hi-Fi explores the
          spectrum of raw noise and its’ permutations creating heavily textured and driving
          results. Strongly influenced by experimental krautrock artists of the late 60’s,
          synth artists of the 70’s and the early acid house and electronic movements that
          followed, while also being keenly interested in the pioneering experiments in sonic-physics
          and psycho-acoustics, of the present and past decades. Recent exhibitions include
          To Be Destroyed, FA Headquaters, London UK (2010), Daily, Action, Poetry, Hayward
          Gallery, London (2010) Dead Fingers Talk: The Tape Experiments of William S. Burroughs,
          IMT Gallery, London (2010)<br /><br />

          2. <b>James Thomas</b> (born Wales, lives in London) graduated from the MA in Fine Art, Central Saint Martins College of Art in 2004. In 2002,
          he was awarded the DRAWinternational residency in Caylus, France. As well as his
          research based studio practice, he has exhibited internationally as part of Melville
          Mitchell, a collaborative performance project. Recent exhibitions include En Residencia
          at LABoral Centro de Arte y Creación Industrial (2009), X-ray/Resonance FM at Frieze
          Art Fair, London 2010 and Propeller Island at Supermarket Art Fair (2011). <br /><br />

          3. Conceived in Chicago by A. Hutchins & D. Halhead, March 2010, <b>Black Rainbow</b> is small, independent
          record label that umbrellas an expanding consortium of musicians and artists. The
          label seeks to give a base or 'hub' for the interrelation and cross- pollination
          of musical, as well as other sonic outputs of their members in as many guises as
          are productive, either individually or in a number of creative configurations. Black
          Rainbow exists across its web based organisation and in the production of vinyl
          records, its preferred physical residue of these creative activities.
        </div>
      </div>
      <div class="ImageContainer">

        <img src="http://cloud5.blob.core.windows.net/content/hum.jpg" alt="hum" />

      </div>
      <div class="contentBodyTextParent">
        <div class="contentBodyText">
          April 16 - May 3 2010<br>
          <h1>Content<br />
            Shama Khanna, Rashanna Rashied-Walker, Tamarin Norwood, Ross Birrell, Criodhna Costello and Claire Nichols.<br /><br /></h1><br /><br />


          Content is a publication examining the role of written language in contemporary visual art practice. Bringing together text and image contributions from six contemporary artists and curators, it is inspired by the capacity for writing to create slippages and intimate connections with art, extending beyond the object and creating another entry point into contemporary art practice, through language.
          The publication has been produced on the occasion of Glasgow International 2010 (Friday 16 April - Monday 3 May) and will be available during the festival from the Centre for Contemporary Art in Glasgow and at the Social Landscape event on April 18th at Stereo. Generously supported by Arts Council England.<br /><br />www.glasgowinternational.org
        </div>
      </div>
      <div class="ImageContainer">

        <img src="http://cloud5.blob.core.windows.net/content/content.png" alt="content" />

      </div>
      <div class="contentBodyTextParent">
        <div class="contentBodyText">
          February 26 2010
          <h1>Patrick Jameson</h1><br/><br/>

          Volume proudly presented the UK premiere of Eliel and Engel, two digital animations by Glasgow based artist Patrick Jameson.<br/><br/>

          Using 3-D modelling software and sound to create ‘fictions of mediated realities’, Patrick Jameson uses the deconstruction of objects and their re-assembly as models to examine the
          inter-relation of technology and belief, and the inseparability of our beliefs from cultural products.<br/><br/>

          Born in 1976, Patrick Jameson graduated with an MFA from Glasgow School of Art in 2001. A multiple recipient of the Scottish Arts Council Creative Development Award, Patrick has exhibited widely in Scotland and internationally including the Glasgow Film Festival, Dean Gallery (Edinburgh), Tramway (Glasgow), Ginza Art Laboratory (Tokyo), AK28 (Stockholm) and Hunter Gallery (New York).
        </div>
      </div>
      <div class="ImageContainer">

        <img src="http://cloud5.blob.core.windows.net/content/ElielEngel.jpg" alt="ElielEngel" />

      </div>
      <div class="contentBodyTextParent">
        <div class="contentBodyText">
          29 January 2009
          <h1>Daniel Pires</h1>
          RelatiON<br/><br/><br/>

          In December 2009, Volume commissioned fashion photographer Daniel Pires to create a new film, bringing together fashion, performance and the moving image. Filmed on location in our project space in New Cross and in Trent Park, relatiON 'is an experimental short film about human relations and individuality. It is a reaction and a confrontation; a parallelism between two worlds, where we’re me, we’re you and we’re the other’ The film was premiered in January 2010 at Volume - The Old Police Station and can now be viewed here on Daniel's website: <a href="http://cargocollective.com/danielpires">http://cargocollective.com/danielpires</a><br/><br/>

          Daniel Pires is a fashion photographer based in London. Born 1990 in Portugal, he currently studies Fashion Photography at London College of Fashion. relatiON is Daniel's second film, bringing together fashion and the moving image.

          View the film here: <a href="http://danielpires.co.uk/#150167/FILM">http://danielpires.co.uk/#150167/FILM</a>
        </div>
      </div>
      <div class="ImageContainer">

        <img src="http://cloud5.blob.core.windows.net/content/Daniel.gif" alt="daniel" />

      </div>
      <div class="contentBodyTextParent">
        <div class="contentBodyText">
          November 2009
          <h1>Ben Washington, Daniel Kelly and Dmitri Galitzine</h1>
          Using A Sprat To Catch A Mackerel<br/><br/>

          <i>During October 2009, Daniel Kelly, Dmitri Galitzine and Ben Washington took up residency in our project space to create new work and to experiment with working collaboratively. The resulting exhibition, Using A Sprat To Catch A Mackerel launched appropriately with a mackerel barbeque and drinks and was open through November 2009.<br/><br/>

            Having spent what seems like rather a long time locked up together in an old police station Daniel Kelly, Dmitri Galitzine and Ben Washington present the fruits of their hard labour.<br/><br/>

            The show has its origins in a conversation we started over a year ago. We noticed certain similarities in our work: somewhat everyday, banal subject matter, crudeness in the choice of materials and a compulsiveness in each of our processes.<br/><br/>

            We decided to arrange a show with no clear agenda, the intention being to hold a more ambitious one in the future; throwing some bait into the waters to see if we could catch anything worthwhile.<br/><br/>

            Each of us brought our own specific concerns and worked upon them for a week in the space. Familiar things, the rain, rock gardens, tiny explosions. All of them re-worked and represented in a cruder form, with cruder materials; absurd in a way, trying to capture an atmosphere or an idea, but in doing so maybe giving back to the audience something of how we read the world.<br/><br/>

            The rain is something that hits you everyday, but visually it’s tricky to pin down. It exists as an idea and Kelly’s paintings are trying to represent that idea, rather than capture some sort of photo-realistic image. It’s asking you to suspend your disbelief and in doing so allow you to re-live all of the artist’s experiences of rainstorms.<br/><br/>

            Washington emphasises the frozen nature of an explosion. By composing the work in such a formal way it attempts to capture the point at which, in real explosions, the brain freezes, extending the moment, allowing you to consider all the elements in the visual field.<br/><br/>

            Galitzine saw a front garden in Devon, which for him captured the sculptural idiosyncrasies of a proud Saturday afternoon. By representing this moment as a life sized ornament or souvenir, he celebrates the absurdities of the modern era.<br/><br/>

            This is our sprat, we hope there will be a feast of mackerel to come.<br/><br/>
            Ben Washington, 2009</i>
        </div>
      </div>
      <div class="ImageContainer">

        <img src="http://cloud5.blob.core.windows.net/content/sprat.png" alt="sprat" />

      </div>
      <div class="contentBodyTextParent">
        <div class="contentBodyText">
          February 21 2010
          <h1>Art/Roc/Doc</h1> S
          Screening at Glasgow Film Festival<br/>
          Volume + Central Station present Art/Roc/Doc<br><br>

          Art, music, screenings, talks, conversation and a glass or two of wine. Join Central Station for the preview screening of Art / Roc / Doc, shot in London at Frieze 2009 and featuring Glasgow-based band Isosceles as they play their way round the country’s best-known art fair.<br/><br/>

          Alongside Art / Roc / Doc we’ll also be showing a selection of art and music shorts made by Central Station members. Afterwards, the teams behind the films will be talking about their work: ten minutes each to tell us something about their process and inspiration. You’re then invited to join us all for a couple of drinks and some conversation.<br/><br/>

          Central Station is a creative social network for art, film and design. Find out more at www.thisiscentralstation.com. We’ll be selecting member work to screen up until the event itself. If you have any work based on the themes of art and/or music and you’d like to be considered, we’d love to hear from you.<br/><br/>

          Visit www.thisiscentralstation.com/projects for more information.
        </div>
      </div>
      <div class="ImageContainer">



      </div>
      <div class="contentBodyTextParent">
        <div class="contentBodyText">
          October 6 - 13 2009<br>
          Volume in association with Plus Art Projects and Central Station present
          <h1>PLUS</h1>

          PLUS was a large group exhibition and series of events produced by Kerry Ryan (Neon and Sign-makers), Declan McMullan (artist/independent producer) and Volume (London), with support from Central Station (online artists platform).<br/><br/>

          For 100 non stop hours, PLUS occupied an empty warehouse in Southwark, transforming it into an exhibition and meeting space for the international and interconnected community of artists, their peers and the public during Frieze Art Fair, one of London’s most celebrated arts events.<br/><br/>

          PLUS showcased the work of over 70 international artists including Douglas Gordon, Matt Collishaw, Sarah Lucas, Jason Pinder and Sam Hasler. It aimed to capture the energy and generosity found in a collaborative and extended network of creatives working in London, Glasgow, Berlin and beyond and to provide an opportunity for people to experience contemporary art at a grassroots level, embracing the interdisciplinary practices of visual artists, DJ’s, designers, musicians, performers, film-makers, fabricators, technicians and producers.<br/><br/>

          Headlining the launch event was Glasgow four piece Isosceles. Using PLUS as a spectacular backdrop, Isosceles worked with members of Central Station to create a documentary focusing on contemporary art and music. Art/Roc/Doc is a film that explores where art and music meet, giving us a chance to plunge into the evolving, sometimes chaotic spaces in between. With a camera following in their wake, Isosceles tasted the menu of events which make this time of year key to contemporary art practice in London, the UK and the world. The film was premiered at the Centre for Contemporary Art in Glasgow and will be screened on Central Station. More information here: www.thisiscentralstation.com<br/><br/>

          Also launching PLUS was well known bands, The Mutlings and The Cyclones as well as DJ sets by Glasgow based artist Jim Lambie and London’s Nudge Records.<br/><br/>

          PLUS opened on Friday October 16th, 2009 at 5pm and remained open until 9pm on Tuesday October 20th. Visitors were welcome to stop by at any time of the day or night to view the exhibition, share a beer, chitchat or shoot some pool.<br/><br/>

          Artists: Aaron Russell, Alex Baker, Alain Miller, Alison Willoughby, Andy Holden, Angelo Carnielo, Annie Attridge, Anselm Kieffer, Catarina Albequerque, Christina Vantzou, Claire Moore, Damien Goode, Damien Hirst, Declan McMullan, Dave Fryer, Dave Collishaw, Dave Wood, Dean Whatmuff, Dingbot McClatchey, Dominic Alan<br/>
          Douglas Gordon, Elizabeth Wright, Franko B, Gary Winship, Gavin Turk, Gillian Westgate, Giorgio Sadotti, Henrijs Preiss, Howard Dyke, Isabella Burley, Jason Davidge<br/>
          Jason Pinder, Jim Woodall, Jimmy Dyer, Jon Glazier / James Fisher, John Tiney, Joseph Kosuth, Ken Graham, Kerry Ryan, Kim Fielding, Lamarane Watson, Laura Graham, Lohan Emmanuel, Luke Ottridge, Lyle Perkins, Marcus Mitchell, Maria Von Köhler, Mark Croxford, Mark Titchner, Matt Calderwood, Mat Collishaw, Mauro Bonacina, Melville Mitchell, Mike Andreae, Morag Myerscough, Mustafa Hulusi, Nick Wapplington, Noah Sherwood, Peter Lamb, Phil Wilson Perkin, Richard Hubner, Rick Pushinsky, Ryan Gander, Sam Hasler, Sarah Cooper, Sarah Lucas, Soldier, Steve Green, Tanya Millard, Tim Bailey, Tim Phillips, Tom Cox Bisham, Tracey Emin, Warren McLauchlan, Pussy Willow, Playful Promises<br/><br/>

          (Photo credit Blown Magazine)
        </div>
      </div>
      <div class="ImageContainer">

        <img src="http://cloud5.blob.core.windows.net/content/plus.png" alt="plus" />

      </div>
      <div class="contentBodyTextParent">
        <div class="contentBodyText">
          September 2009
          <h1>Sam Hasler<br/>
            Jason Pinder<br/>
          </h1>
          Outsider/Informer<br/>

          For the 2009 edition of Deptford X, Volume presented a residency with Cardiff based artists Sam Hasler and Jason Pinder.<br/> <br/>

          Informer / Outsider took its starting point from conversations between the artists about boundaries and division. During the residency, Sam and Jason made physical interventions in dialogue with each other and the exhibition space. The space was structured around a central cell and peripheral walkway that allowed the artists to fluctuate between passages of collaboration and bouts of isolation, therefore works evolved together, but also developed as conflicting forms.<br/> <br/>

          Sam and Jason worked in the Volume project space in the lead up to Deptford X, and were able to engage with Southeast London's artists' community as they prepared for the festival. During this time the space was open to the public, who were invited in to view the artists' progress and participate in their process.<br/> <br/>

          Here is a link to their blog about the residency: <a href="http://outsiderinformer.blogspot.com/">http://outsiderinformer.blogspot.com/</a><br/><br/>
          www.B-R-G.org<br/><br/>

          (Photo credit Kim Fielding.)
        </div>
      </div>
      <div class="ImageContainer">

        <img src="http://cloud5.blob.core.windows.net/content/insider.jpg" alt="insider" />

      </div>
      <div class="contentBodyTextParent">
        <div class="contentBodyText">
          August 2009
          <h1>LOUDSPKR</h1>
          The End of Something<br/>

          The End of Something is an on-going, critical archival project that aims create a platform for reflection on the global financial crisis. The project was launched during August 2009, when LOUDSPKR, in collaboration with Volume, embarked on a month long process of accumulation to create an archive of personal, critical and creative reflections from a local and international community. Located in the former ‘Archive Room’ of a police station, Volume once again became a bureau and repository for information.<br/><br/>

          During the project, we hosted a series of events including film screenings by Stefan Szczelkun and Thomas Zagrosek, a clothing swap hosted by Olivia Hegarty and workshops with Jennie Savage, Caspar Below, The People Speak and Deptford TV.<br/><br/>

          The archive currently exists online at http://theendofsomething.wordpress.com<br/><br/>

          For more information please email teos.project@gmail.com
        </div>
      </div>
      <div class="ImageContainer">

        <img src="http://cloud5.blob.core.windows.net/content/theend.png" alt="The End" />

      </div>
      <div class="contentBodyTextParent">
        <div class="contentBodyText">
          July 2009
          <h1>Aline Bouvy and John Gillis<br/>
            Ilsa Colsell<br/>
          </h1>
          ‘A recognisable lustre’<br/><br/>

          During The Old Police Station Open Studios Event in July 2009, Volume commissioned Ilsa Colsell to create a text based on 'Venusia' (2007) a film by Aline Bouvy and John Gillis.<br/> <br/>

          'Venusia' worked as a catalyst for the commissioned text. Referencing genres in writing and fashion, the works both celebrated beauty, decadence and the macabre through collage and cut-up; capturing rearranging and unfolding.<br/> <br/>

          Ilsa Colsell's text 'A recognisable lustre' is available from Volume. Please email us if you would like a copy at info@volumeprojects.com
        </div>
      </div>
      <div class="ImageContainer">

        <img src="http://cloud5.blob.core.windows.net/content/lustre.png" alt="Lustre" />

      </div>
      <div class="contentBodyTextParent">
        <div class="contentBodyText">
          January 2009
          <h1>James Houston</h1>
          Big Ideas (Don't get any)<br/>

          As a pre launch appetiser - Volume presented the highly acclaimed short film, Big Ideas (don't get any), by Glasgow based graphic designer James Houston to celebrate the opening of Temporarycontemporary's Old Police Station in New Cross, London and Volume's new project space.<br/><br/>

          <a href="http://www.youtube.com/watch?v=pmfHHLfbjNQ">http://www.youtube.com/watch?v=pmfHHLfbjNQ</a><br/><br/>

          James Houston graduated from Glasgow School of Art in 2008. In his final year Radiohead held an online contest to remix "Nude" from their album - "In Rainbows" . A challenge given the 6/8 timing, and 63bpm, music played in clubs is around 120bpm and usually 4/4 timing. This resulted in lots of generic entries consisting of a typical 4/4 beat, but with arbitrary clips from "Nude" thrown in so that they qualified for the contest. Based on the lyric (and alternate title) "Big Ideas: Don't get any" James Houston grouped together a collection of old redundant hardware, and placed them in a situation where they're trying their best to do something that they're not exactly designed to do, and not quite getting there. He missed the competition deadline, so he posted it on the internet where it became an overnight success. To James's surprise the bass player from Radiohead Colin Greenwood (Coz) posted the video on radiohead.com.<br/>

          The line up comprises: Sinclair ZX Spectrum - Guitars (rhythm & lead) Epson LX-81 Dot Matrix Printer - Drums HP Scanjet 3c - Bass Guitar Hard Drive array - Act as a collection of bad speakers.
        </div>
      </div>
      <div class="ImageContainer">


      </div>
    </div>
  </div>
  <div class="HeroSection"></div>
  <div id="footer">
  </div>
</div>
</body>
</html>
