<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>
<body>

<header>
    <% include partials/header %>
</header>

<div class="container">
    <div class="static-content">
            <pre>
Volume is an independent collective of curators providing opportunities for artists, designers, musicians and writers to research and develop their practice in London and Glasgow. We support both emerging and established practitioners, working across art forms and sectors. Volume prioritises the working process, dialogue and critical debate as an ongoing cycle.
Through the residency programme, Volume provides access directly to the practitioner in the studio, facilitating engagement with their peers and the public. The events programme brings people together to meet, socialise and experience contemporary art and culture in an informal setting.

Volume is Caroline Stevenson, Patricia Fleming and Simon Mitchell



For more information contact Caroline at <a href="mailto:caroline@volumeprojects.com">caroline@volumeprojects.com</a>
            </pre>
        </div>
    </div>
</body>
</html>